
body{
  font-family: Arial,Tahoma;
  background-color:white;
   text-align:center;
   font-size: 12px;
    }
  #main{
    width: 1300px;
   padding: 0px;
    
  }
  #head0{
    background-color:white ;
    color:black ;
    width: 1350px;
    height: 20px;
    text-align: right;
    display: flex;
    justify-content: flex-end;

  }
  .top-wrap-icon ul {
    margin-bottom: 0;
}
ul {
  padding: 0;
  list-style-type: none;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

  #head{
    width: 1350px;
    height: 120px;
    background-color: #ff6600;
    border: 1px solid #ff6600;
    margin-top: 0px;
  }
  #v1{
    margin-left:0px ;
    height: auto;
    float: left;
    min-width: 100px;
    
   }
    p{ 
    color: #ffffff;
    font-size:40px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 2px;
    }
    input[type="text"] {
      width: 100px;
      box-sizing: border-box;
      border: 1px solid rgb(24, 23, 23);
      border-radius: 10px;
      outline:none;
      padding: 12px 14px;
      
    }
    input[type="text"] {
      height: 15px;
      width: 380px;
      box-sizing: border-box;
      border: 1px solid rgb(224, 57, 57);
      outline:none;
      padding: 10px 10px;
      line-height: 10px;
      
     
      
    }  
#v4{
  color: red;
}
  #p1{
    text-align: right;
    font-weight: 70;
    
}

#v3{
  text-align: right;
  font-size: 20px;
 margin-top: auto;
 letter-spacing: 0px;
}
input[type="submit"] {
  font-size: 10px;
  width: 75px;
  padding: 12px 14px;
  line-height: 5px;
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #ff6600;
}  

  #head-link{
    width: 1350px;
    height: 45px;
    background-color: #ff9933;
    
  }
 
  #menu ul li{
    margin:0;
    padding:0;  
    text-align:center;  
    display:inline;    }  
  #menu li a{
    font-size:20px;
    font-weight:bold;
    color:#ffffff;
    padding: 0 15px;
    border-right:1px solid #fff;
    text-transform:uppercase;
    text-decoration:none;
    }
  #menu ul li:hover{background:#cd853f;
   }
  
  #left{
    width: 200px;
    height: 400px;
    border: 1px solid #cdcdcd;
    float: left;
    background-color: #e0eee0;
   
  }
  #content{
    width: 1000px;
    height: 5000px;
    min-height: auto;
  
    float: left;
   
  }
  #right{
    width:234px;
    height: 400px;
    float: right;
    background-color: mediumspringgreen;
  }
  #footer{
    height:50px;
    clear: both;
    border: 1px solid #cdcdcd;
    background-color: lightsteelblue;
  }
  .hotline-phone-ring-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
  }
  .hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 0;
    display: block;
  }
  .hotline-phone-ring-circle {
    width: 85px;
    height: 85px;
    top: 10px;
    left: 10px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #e60808;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
  }
  .hotline-phone-ring-circle-fill {
    width: 55px;
    height: 55px;
    top: 25px;
    left: 25px;
    position: absolute;
    background-color: rgba(230, 8, 8, 0.7);
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .hotline-phone-ring-img-circle {
    background-color: #e60808;
    width: 33px;
    height: 33px;
    top: 37px;
    left: 37px;
    position: absolute;
    background-size: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hotline-phone-ring-img-circle .pps-btn-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .hotline-phone-ring-img-circle .pps-btn-img img {
    width: 20px;
    height: 20px;
  }
  .hotline-bar {
    position: absolute;
    background: rgba(230, 8, 8, 0.75);
    height: 40px;
    width: 180px;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    background-size: 100%;
    cursor: pointer;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    z-index: 9;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px !important;
    /* width: 175px !important; */
    left: 33px;
    bottom: 37px;
  }
  .hotline-bar > a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-indent: 50px;
    display: block;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: Arial;
  }
  .hotline-bar > a:hover,
  .hotline-bar > a:active {
    color: #fff;
  }
  @-webkit-keyframes phonering-alo-circle-anim {
    0% {
      -webkit-transform: rotate(0) scale(0.5) skew(1deg);
      -webkit-opacity: 0.1;
    }
    30% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      -webkit-opacity: 0.5;
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      -webkit-opacity: 0.1;
    }
  }
  @-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.6;
    }
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      opacity: 0.6;
    }
    100% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.6;
    }
  }
  @-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
  }
  @media (max-width: 768px) {
    .hotline-bar {
      display: none;
    }
  }
 
  
   